absl-py==0.13.0
aiofiles==0.6.0
argon2-cffi==21.1.0
asgiref==3.3.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bleach==4.1.0
CacheControl==0.12.6
cachetools==4.2.2
cachy==0.3.0
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.4
clang==5.0
cleo==0.8.1
click @ file:///C:/Users/kevlin/AppData/Local/pypoetry/Cache/artifacts/e2/79/34/a23e9d2f683ed66be11ec3bd760dec3a2fe228cfdedf2071bcf0531b06/click-7.1.2-py2.py3-none-any.whl
clikit==0.6.2
cmake==3.21.2
colorama==0.4.4
contextlib2==21.6.0
crashtest==0.3.1
cycler==0.10.0
debugpy==1.5.1
decorator==5.1.0
deepface==0.0.68
defusedxml==0.7.1
distlib==0.3.2
Django==3.1.8
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
entrypoints==0.3
execnet==1.9.0
face-recognition-models==0.3.0
fastapi @ file:///C:/Users/kevlin/AppData/Local/pypoetry/Cache/artifacts/a9/a1/33/bf986a3433591f4d9956b333a2c4ad9a7643cb7a7e7ea3dd014ac6d3b5/fastapi-0.63.0-py3-none-any.whl
filelock==3.0.12
Flask==2.0.1
flatbuffers==1.12
gast==0.4.0
gdown==3.13.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.39.0
gunicorn==20.1.0
h11 @ file:///C:/Users/kevlin/AppData/Local/pypoetry/Cache/artifacts/4e/9a/c1/105ce3cfa6d9bef982914f53c4ede1c01a8d0294f5e0bd650d86e15909/h11-0.9.0-py2.py3-none-any.whl
h5py==3.1.0
html5lib==1.1
idna==3.2
imageio==2.9.0
imutils==0.5.4
iniconfig==1.1.1
ipykernel==6.5.0
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsons==1.6.1
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver==1.3.2
lockfile==0.12.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mock==4.0.3
msgpack==1.0.2
mtcnn==0.1.1
mysqlclient==2.1.0
nbclient==0.5.5
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.5
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==20.9
pandas==1.3.3
pandocfilters==1.5.0
parso==0.8.2
pastel==0.2.1
path==16.2.0
path.py==12.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pkginfo==1.7.1
platformdirs==2.3.0
pluggy==1.0.0
poetry==1.1.8
poetry-core==1.0.4
prometheus-client==0.12.0
prompt-toolkit==3.0.20
protobuf==3.17.3
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic @ file:///C:/Users/kevlin/AppData/Local/pypoetry/Cache/artifacts/21/66/35/3113802d74def0a090f643520a28829173dc3aceecc37a27ab9f5d5671/pydantic-1.8.1-cp39-cp39-win_amd64.whl
Pygments==2.10.0
PyJWT==2.3.0
pylev==1.4.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
PySocks==1.7.1
pytesseract==0.3.8
pytest==6.2.5
pytest-shutil==1.7.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2021.1
PyWavelets==1.1.1
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==1.1.5
pyzmq==22.3.0
qtconsole==5.2.0
QtPy==1.11.2
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retina-face==0.0.5
rsa==4.7.2
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.8.0
shellingham==1.4.0
six==1.15.0
sqlparse==0.4.1
starlette @ file:///C:/Users/kevlin/AppData/Local/pypoetry/Cache/artifacts/01/ff/79/e5ca5381f72248b8320e08456cb90fcb8ba4c0eab96cf295d2702e7907/starlette-0.13.6-py3-none-any.whl
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-cpu==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.30
tmdbv3api==1.7.6
toml==0.10.2
tomlkit==0.7.2
tornado==6.1
tqdm==4.62.2
traitlets==5.1.0
typing-extensions==3.7.4.3
typish==1.9.3
urllib3==1.26.6
uvicorn @ file:///C:/Users/kevlin/AppData/Local/pypoetry/Cache/artifacts/7a/be/5b/4470ba571b30cf3866986b8e492f80a4b4f64b251bd99b95505bdc6c54/uvicorn-0.11.8-py3-none-any.whl
virtualenv==20.7.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==2.0.1
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.12.1
